// Custom Variables
$body-padding: 1rem !default;

/* ================================================================================================
LAYOUT
================================================================================================ */
body {
	padding: $body-padding;
	background-color: $global-bg-color;
}
