// Custom Variables
$body-padding: 1rem;

/* ================================================================================================
LAYOUT
================================================================================================ */
body {
	background-color: $global-bg-color;
	padding: $body-padding;
}